$color-eastern-blue: #0a82a0;
$color-eclipse: #3f3f3f;
$color-blue-lagoon: #085e73;
$color-grey: #767676;
$color-white: #fff;
$color-black: #333;
$color-white-smoke: #efefef;
$color-persian-green: #0aa08d;
$color-cardinal: #a90f3fe6;