@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins/common.scss';

.edit-course-form {
  @include form();
}

.edit-form-caption {
  @include form-caption(25px);
}

.edit-form-item {
  @include form-item(20px);
}

.edit-form-item-text {
  @include form-item-text(22px);
}

.edit-form-item-input {
  @include form-input(90%)
}

.edit-form-button-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.edit-form-button {
	@include form-button();
}

.edit-form-create-button {
	&:hover {
		background: $color-persian-green;
	}
}

.edit-form-cancel-button {
	&:hover {
		background: $color-cardinal;
	}
}
