<header class="header">
  <div class="content header-content">
    <div class="logotype-wrapper">
      <div class="logotype-icon">
        <i class="fa fa-forward" aria-hidden="true"></i>
      </div>
      <h1 class="logotype-title">
        PLAY Lynxes
      </h1>
    </div>
    <div class="header-login-wrapper">
      <span class="header-login-user">kira@email.com</span>
      <button class="common-button">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        Log off
      </button>
    </div>
  </div>
</header>