<section class="course-item" course-status="{{$ctrl.course.date | date:'MM.dd.yyyy'}}" ng-class="{'top-course': $ctrl.course.topRated}">
    <div class="course-item-content">
        <div class="course-item-header">
            <div class="course-item-title-wrapper">
                <h2 class="course-item-title">
                    {{$ctrl.course.title | uppercase}}
                </h2>
                <i class="fa fa-star" aria-hidden="true" ng-if="$ctrl.course.topRated"></i>
            </div>
            <div class="course-item-info">
                <span>
                    {{$ctrl.course.time | formatDuration}}
                </span>
                <span>
                    {{$ctrl.course.date | date:'dd.MM.yyyy'}}
                </span>
            </div>
        </div>
        <p class="course-item-note">
            {{$ctrl.course.note}}
        </p>
    </div>
    <div class="course-item-tools">
        <button class="common-button course-item-button" ng-click="$ctrl.handleEdit()">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Edit
        </button>
        <button class="common-button course-item-button" ng-click="$ctrl.handleDelete()">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
            Delete
        </button>
    </div>
</section>
